
body{
  font-family:Montserrat, sans-serif;
  background:#f5f7fa;
  margin:0;
}

.nav{
  background:#0A3D62;
  padding:15px 8%;
}

.logo{
  color:#fff;
  text-decoration:none;
  font-weight:700;
}

.form-section{
  max-width:600px;
  margin:80px auto;
  background:#fff;
  padding:40px;
  border-radius:16px;
}

input,select,button{
  width:100%;
  padding:12px;
  margin-bottom:15px;
}

button{
  background:#F4C430;
  border:none;
  font-weight:700;
  cursor:pointer;
}
